<?xml version="1.0"?>
<config>
    <modules>
        <DigitalPianism_BugFixes>
            <version>0.0.1</version>
        </DigitalPianism_BugFixes>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DigitalPianism_BugFixes before="Mage_Adminhtml">DigitalPianism_BugFixes_Adminhtml</DigitalPianism_BugFixes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>